extends layout

block content
  h1 SORRY, NO RESULTS TRY AGAIN!
  img.sadFace(src="pictures/thesaddest.png")
  div.buttonArea
    input.errorButton(type="submit" value="Start Over" onclick="window.location.href='/first'")

  
