extends layout

block content
  h1 How much time do you have to spare?
  form(action="/first" method="post")
    div.120orLess
      label less than 2 hours 
      input(type="radio" value= "> 2 hours" name="runtime")
    div.120orMore
      label more than 2 hours
      input(type="radio" value= "< 2 hours" name="runtime")
    input(type="submit")
