extends layout

block content
  h1 How much time do you have to spare?
  form(action="/first" method="post")
    div.left
      label(for="left") less than 2 hours 
      input(type="radio" value= "> 2 hours" name="runtime" id="left")
    div.right
      label(for="right") more than 2 hours
      input(type="radio" value= "< 2 hours" name="runtime" id="right")
    input.timeButton(type="submit")
    div.clockPic
    img.clock(src="../pictures/clearClock.jpg" height="400px" width="400px")
