extends layout

block content
  h1 How much time do you have to spare?
  div.120orLess
    input(type="submit" value= "Less than 2 hours" Onclick="window.location.href='/second'")
  div.120orMore
    input(type="submit" value= "More than 2 hours" Onclick="window.location.href='/second'")
