extends layout

block content
  h1.genre What genre are you feelin'?
  div.genreResults
    input(type="submit" value=result1.name Onclick="window.location.href='/second'")= result1.name
    p
    input(type="submit" value=result2.name Onclick="window.location.href='/second'")= result2.name
