extends layout

block content
  h1.title Movie Picker
  p.informational Can't decide what movie to watch? Let me help! Answer a few questions and I'll give you some suggestions...
  input(type="submit" value="Begin!" Onclick="window.location.href='/first'")
