extends layout

block content
  div.topDiv
  h1.title Flick Pick
  img.movieReel(src="../pictures/movie.png" height="450px" width="900px")
  div.leftDiv
  p.informational Can't decide what movie to watch? Answer a few questions and get some suggestions...
  input.beginButton(type="submit" value="Start!" Onclick="window.location.href='/first'")
