extends layout

block content
  div.topDiv
  h1.title Flick Pick
  div.leftDiv
  p.informational Can't decide what movie to watch? Let me help! Answer a few questions and I'll give you some suggestions...
  input.beginButton(type="submit" value="Begin!" Onclick="window.location.href='/first'")
