extends layout

block content
  h1.genre What genre are you feelin'?
  form(action="/second" method="post")
    div.genreResults1
      label(for="leftRadio")= result1.name
      input(type="radio" value=result1.id name="genreSelected" id="leftRadio" checked="leftRadio")= result1.name
    img.popcorn(src="../pictures/popcorn.png" height="350px" width="350px")
    div.genreResults2
      p
      label(for="rightRadio")= result2.name
      input(type="radio" value=result2.id name="genreSelected" id="rightRadio")= result2.name
    input.genreButton(type="submit")
