extends layout

block content
  h1.genre What genre are you feelin'?
  div.genreResults1
    input(type="submit" value=result1.name Onclick="window.location.href='/third'")= result1.name
  div.genreResults2
    p
    input(type="submit" value=result2.name Onclick="window.location.href='/third'")= result2.name
