extends layout

block content
  h1.actorHeader Which actress/actor are you in the mood for?
  div.peopleResults
  p.leftImage
  img(src="http://image.tmdb.org/t/p/w300" + result1.profile_path Onclick="window.location.href='/result'")
  p.rightImage
  img(src="http://image.tmdb.org/t/p/w300" + result2.profile_path result2.profile_path Onclick="window.location.href='/result'")
  form(method="post" action"/third")
    div.leftName
      label(for="leftName")= result1.name
      input(type="radio" value=result1.id name="actorName" id="leftName")= result1.name
    div.rightName
      label(for="rightName")= result2.name
      input(type="radio" value=result2.id name="actorName" id="rightName")= result2.name
      input.actorButton(type="submit")
      
