body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  /*display: inline-block;*/
}

a {
  color: #00B7FF;
}

label {
  color: white;
}

.genre, .actorHeader, .thirdHeader, h1 {
  font-size: 50px;
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.title {
  font-size: 100px;
  font-family: "Exo";
  font-style: normal;
  font-weight: 450;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 3px 0 #000, 2px 2px 0 #000;
  display: inline-block;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 50px;
}

.movieReel {
  transform: rotate(180deg);
  display: inline-block;
  position: absolute;
  top: 0px;
}

.informational {
  font-size: 23px;
  color: white;
  display: inline-block;
  z-index: 100;
  line-height: 750px;
  left: 60%;
  padding-left: 16%;
}

.beginButton {
  display: inline-block;
  width: 300px;
  height: 100px;
  background: hsl(300, 100%, 27%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 50px;
  border-radius: 20px;
  border-color: hsl(300, 25%, 25%);
  position: absolute;
  top: 75%;
  left: 38%;
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 3px 0 #000, 2px 2px 0 #000;
}

.genreResults1 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30%;
}

.genreResults2 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30%;
}

.topDiv {
    height:100px;
    width: 100%;
    background-color: rgb(102, 0, 102);
    padding-top: none;
    transform: rotate(15deg);
}

.leftDiv {
  /*height:100px;
  width: 100%;
  background-color: rgb(102, 0, 102);
  padding-top: none;
  transform: rotate(50deg);*/
}

.clock {
  display: inline-block;
  position: absolute;
  top: 160px;
  left: 35%;
}

.left {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  font-size: 24px;
}

.right {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45%;
  font-size: 24px;
}

.timeButton {
  display: inline-block;
  width: 300px;
  height: 100px;
  background: hsl(300, 100%, 27%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 50px;
  border-radius: 20px;
  border-color: hsl(300, 25%, 25%);
  position: absolute;
  top: 80%;
  left: 38.2%;
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 3px 0 #000, 2px 2px 0 #000;
}

.leftImage {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
}

.leftName {
  font-size: 30px;
  color: white;
  width: 50%;
  float: left;
  text-align: center;
  display: inline-block;
}

.rightImage {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
}

.rightName {
  font-size: 30px;
  color: white;
  width: 50%;
  float: left;
  text-align: center;
  display: inline-block;
}
