body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  color: #00B7FF;
}

label {
  color: white;
}

.genre, .actorHeader, .thirdHeader, h1 {
  font-size: 80px;
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.title {
  font-size: 100px;
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  display: inline-block;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 50px;
}


.movieReel {
  transform: rotate(180deg);
  display: inline-block;
  position: absolute;
  top: 0px;
}

p {
  font-size: 30px;
  text-align: center;
  color: white;
  display: inline-block;
  z-index: 100;
}

/*.beginButton {
  padding-left: 300px;
}*/

.genreResults1 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30%;
}

.genreResults2 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30%;
}

.topDiv {
    height:100px;
    width: 100%;
    background-color: rgb(102, 0, 102);
    padding-top: none;
    transform: rotate(15deg);
}

.leftImage {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
}

.leftName {
  font-size: 30px;
  color: white;
  width: 50%;
  float: left;
  text-align: center;
  display: inline-block;
}

.rightImage {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
}

.rightName {
  font-size: 30px;
  color: white;
  width: 50%;
  float: left;
  text-align: center;
  display: inline-block;
}


/*.leftDiv {
  height: 600px;
  width: 10%;
  background-color: lightgrey;
  display: inline-block;
}*/
